<%- include("header") -%>
<%- include("nav") -%>
<div class="container">
    <form action="/admin" method="POST">
        <div class="sd1">
            <h1>Hello, <span><%= userName %></span>.</h1>
            <div class="fx">
                <div class="fx-1 mt-2 mr-2">
                    <h4>Search log for</h4>
                </div>
                <div class="fx-2 mt-1 ml-2">
                    <div class="form-group">
                        <input type="number" id="searchJobNo" name="searchJobNo" class="form-control jn-2 "
                            placeholder="7094">
                    </div>
                </div>
                <div class="fx-3 mt-1 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark float-left ml-3">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr1">
    </form>
    <div class="dbnd-2">
        <h1>No data found :( </h1>
    </div>
</div>
</div>
<%- include("footer") -%>