<div class="">
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="ham">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logox">Work log</label>
    <ul>
      <li><a href="/dashboard" id="home">Home</a></li>
      <li><a href="/admin" id="admin">Admin</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>