body {
  min-height: 700px; /* PREVENTS TABLE TOP FROM GOING OUT OF VIEW*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* DISABLES NUMBER TYPE INPUT SPINNERS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ALIGNS PLACEHOLDERS TO CENTRE */
/* input[type="number"]::placeholder {
  text-align: center;
} */

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

/* AVOIDS PAGE UNDER SLIDE NAV */
.zz {
  margin-top: 50px;
}

/* WELCOME */
.far {
  color: black;
}

/* REGISTER */
.rg-dv1 {
  margin: 10px;
}

.rg-dv1 form {
  padding: 20px;
}
.rg-dv2 {
  display: flex;
  justify-content: center;
}

/* LOGIN PAGE */
.lg-dv2 {
  display: flex;
  justify-content: center;
}

.dropright {
  z-index: 0;
}

/* ADMIN */
.jn-2 {
  width: 100px;
}

.jn-1 {
  margin-right: 0;
}
/* TABLE ROW AUTO NUMBER */
table {
  counter-reset: row-num;
  /* AVOIDS TABLE EXPANSION */
  table-layout: fixed;
  word-wrap: break-word;
  display: block;
}

table tbody tr {
  counter-increment: row-num;
}

table tbody tr th::before {
  content: counter(row-num);
}

/* TABLE LOOKS */
table thead tr {
  text-align: center;
}

table tbody tr {
  text-align: center;
}

table tbody tr td p {
  margin: 0;
}

.sample {
  width: 60px;
}

.form-group {
  margin-bottom: 0;
}

/* DASHBOARD TOP DIV */
.db-2 {
  margin-top: 25px;
}

.dp,
.ds {
  text-align: center;
}

/* AVOIDS MARGIN SPACE */
.samplex {
  width: 200px;
}

/* NO DATA DASHBOARD TOP DIV */
.dbnd-2 {
  color: red;
}

LOGOUT BUTTON .logout {
  background-color: red;
}

/* HR */
.hr1 {
  border: 0;
  border-bottom: 2px solid #e6e9ec;
}

/* FOR ADMIN PAGE */
.fx {
  display: flex;
}

/* NAVBAR */
nav {
  height: 80px;
  background-color: #343a40;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.logox {
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
  margin: 0 20px;
  color: white;
}
ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a {
  color: white;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 3px;
}
.active,
a:hover {
  background-color: white;
  color: black;
}
.ham {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 2rem;
  line-height: 80px;
}
#check {
  display: none;
}
@media (max-width: 800px) {
  .ham {
    display: block;
  }
  ul {
    margin: 0;
    width: 100%;
    background-color: #30475e;
    text-align: center;
    height: 90vh;
    position: fixed;
    left: +100%;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 0;
  }

  #check:checked ~ ul {
    left: 0;
    transition: 0.5s;
  }
}
/* NAVBAR ENDS */
